{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2. feladat</title>
    <link rel="stylesheet" href="{% static '22okt/css/feladat.css' %}">
</head>
<body>
    <p>
        A lista arról, hogy melyik évben hány kép készült:
    </p>
    <table>
        <tr>
            <th>év</th>
            <th>db</th>
        </tr>
        {% for sor in sorok %}
        <tr>
            <td>{{ sor.ev }}</td>
            <td>{{ sor.db }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>